* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
a {
  color: #696a67;
}
.user a, .titles a {
  color: white;
}
.left a:hover {
  text-decoration: none;
  color: white;
}
.header_menu a:hover {
  text-decoration: none;
  color: white;
}
.sidebar_text a:active {
  color: #1db954;
}
.green-a {
  color: #1db954;
}
.sidebar_text {
  height: 50px;
  width: 80%;
  color: #696a67;
  margin: 0;
  margin-left: 10px;
}
.sidebar_text .fas{
  font-size: 15px;
  margin-right: 10px;
}
.sidebar_text h3 {
  font-size: 15px;
  margin: 0;
  margin-top: 25px;
  font-weight: 700;
}
.sidebar_text h4 {
  font-size: 15px;
  margin: 0;
  position: absolute;
  bottom: 50px;
  font-weight: 700;
}
.sidebar_text h5 {
  font-size: 15px;
  margin: 0;
  position: absolute;
  bottom: 10px;
  font-weight: 700;
  color: white;
}
.sidebar_text p {
  font-size: 13px;
  margin: 0;
}
#line_board {
  height: 5px;
  width: 80%;
  position: absolute;
  bottom: 40px;
  left: 20px;
  border-bottom: 1px solid #696a67;
}
.h-active {
  width: 30%;
  margin-left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #1db954;
}
.header_menu a:active {
  margin: auto;
  margin-top: 0px;
  width: 20px;
  border-bottom: 2px solid #1db954;
}
.header_menu h3 {
  color: #666969;
  font-size: 13px;
  font-weight: 700;
  padding: 0 15px;
}
.titles h1 {
  font-size: 35px;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
}
.box_content img {
  width: 188px;
  max-height: 188px;
}
.box_content h3 {
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  color: white;
  margin-top: 20px;
}



/* --------------------------------------------------- */

.flex_cont {
  display: flex;
}
.main {
  background: yellow;
  width: 100vw;
  height: 100vh;
}
.left {
  flex-direction: column;
  width: 15%;
  height:87vh;
  background: #040503;
  position: relative;
}
.right {
  flex-direction: column;
  overflow: auto;
  width: 85%;
  height:87vh;
  background: linear-gradient( #2f393a , #080a07);
}
.logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spotify_logo {
  height: 100%;
  width: 60%;
  margin-top: 20px;
}
.header_menu {
  height: 20%;
  justify-content: center;
  align-items: center;
}
.box_content {
  width: 100%;
  justify-content: center;
}
.second {
  width: 100%;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
}
.box_content div {
  margin-right: 10px;
  width: 20%;
}
/* .footer {
  width: 100%;
  background: #282828;
  height: 13vh;
  position: relative;
  margin-top: 87vh;
  padding: 10px 10px;
} */
